
@{
    ViewBag.Title = "Index";
}

<h2></h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ingenieria de Software</title>
</head>
<body>
    @if (!Request.IsAuthenticated)
    {
        <!-- If the user is not authenticated, display the sign-in button -->
        <a href="@Url.Action("SignIn", "Home")" style="text-decoration: none;">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="300px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
            <style type="text/css">

                .fil0:hover {
                    fill: #4B4B4B;
                }

                .fnt0 {
                    font-size: 260px;
                    font-family: 'Segoe UI Semibold', 'Segoe UI';
                    text-decoration: none;
                }
            </style>
            <rect class="fil0" x="2" y="2" width="3174" height="517" fill="black" />
            <rect x="150" y="129" width="122" height="122" fill="#F35325" />
            <rect x="284" y="129" width="122" height="122" fill="#81BC06" />
            <rect x="150" y="263" width="122" height="122" fill="#05A6F0" />
            <rect x="284" y="263" width="122" height="122" fill="#FFBA08" />
            <text x="470" y="357" fill="white" class="fnt0">Sign in with Microsoft</text>
        </svg>
        </a>
    }
    else
    {
        <h3>Bienvenido: @System.Security.Claims.ClaimsPrincipal.Current.FindFirst("name").Value</h3>

        <div class="jumbotron">
            <h1>PROYECTO INGENIERIA DE SOFTWARE</h1>
            <p class="lead"></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Calculadora</h2>
                <p>
                    Aplicacion que realiza operaciones aritmeticas basicas.
                </p>
                <p>@Html.ActionLink("Ir >>", "Index", "Calculadora", null, new { @class = "btn btn-default" })</p>
            </div>
            <div class="col-md-4">
                <h2>Biblioteca</h2>
                <p>
                    Plataforma en la que puedes acceder a libros en linea.
                </p>
                <p><a class="btn btn-default" href="#">Ir >></a></p>
            </div>
            <div class="col-md-4">
                <h2>Cursos</h2>
                <p>
                    Plataforma para aprender nuevas habilidades.
                </p>
                <p><a class="btn btn-default" href="#">Ir >></a></p>
            </div>
            <div class="col-md-4">
                <h2>Evaluaciones</h2>
                <p>
                    Plataforma para evaluar tus conocimientos en areas especificas.
                </p>
                <p><a class="btn btn-default" href="#">Ir >></a></p>
            </div>
        </div>
        <br />
        <br />
        @Html.ActionLink("Sign out", "SignOut", "Home", null, new { @class = "btn btn-primary" })

    }
    @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
    {
        <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
    }
</body>
</html>